@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar-toggler:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.navbar-toggler{
    border: none !important;
}
.btn-close:focus{
    box-shadow: none !important;
}
.nav-link{
    color: #2dcfc2 !important;
    font-style: italic;
    font-weight: 600 !important;
    font-size: 18px !important;
}
section{
    background: #2dcfc2;
}
section img{
    border-radius: 50%;
    border: 3px solid #2dcfc2;
}
header{
    display: flex;
    background: #fff !important;
    margin: 0 auto;
    width: 90%;
}
header h5{
    color: #2dcfc2;
    margin-bottom: 13px;
}
header img{
    width: 300px;
}
header p{
    font-size: 15px;
}
@media screen and (max-width: 1024px){
    header{
        flex-direction: column;
        gap: 10px;
    }    
}